a {
    color: #85a3e0;
    text-decoration: none;
}

a:hover {
    color: #d6e0f5;
    text-decoration: none;
}

.btn-dark:hover {
    background-color: #555;
    border: solid #555;
}

section:not(.banner),
#contato {
    padding-top: 2em;
}

.navbar {
    background-color: #1b1834;
}

.nav-item,
.navbar-brand {
    margin-right: 1.5em;
}

.display-1 {
    background: #85a3e0;
    font-size: 11vh;
    color: #000;
    padding: 1.5em 0.9em;
    border-radius: 100%;
}

.display-2 {
    font-size: 5vh;
}

.subtitulo {
    margin-bottom: 1em;
}

#sobre .container {
    background-color: #bdb9df;
    padding: 3em 3em;
}

#contato {
    background-color: #1b1735;
    padding: 2em 0 1em 0;
    margin-top: 3em;
}

.endereco i {
    font-size: 1.5em;
}

.endereço p {
    font-size: 0.8em;
}